{% extends 'rememb_prot/base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col col-xl-12 col-lg-12">
            <div class="d-flex justify-content-center m-3 p-5 shadow" style="background-color: #fff;">
                <ol>
                    <li>
                        <p class="contrib-p">
                            Vit O, Harant K, Klener P, Man P, Petrak J. A three-pronged "Pitchfork" strategy enables an extensive description of the human membrane proteome and the identification of missing proteins. J Proteomics. 2019 Jul 30;204:103411. doi: 10.1016/j.jprot.2019.103411. Epub 2019 Jun 6. PMID: 31176011.
                        </p>
                        
                    </li>
                    <li>
                        <p class="contrib-p">
                            Lewandrowski U, Wortelkamp S, Lohrig K, Zahedi RP, Wolters DA, Walter U, Sickmann A. Platelet membrane proteomics: a novel repository for functional research. Blood. 2009 Jul 2;114(1):e10-9. doi: 10.1182/blood-2009-02-203828. Epub 2009 May 12. PMID: 19436052.
                        </p>
                        
                    </li>
                    <li>
                        <p class="contrib-p">
                            Danda R, Ganapathy K, Sathe G, Madugundu AK, Krishnan UM, Khetan V, Rishi P, Gowda H, Pandey A, Subramanian K, Prasad TSK, Elchuri SV. Membrane Proteome of Invasive Retinoblastoma: Differential Proteins and Biomarkers. Proteomics Clin Appl. 2018 Sep;12(5):e1700101. doi: 10.1002/prca.201700101. Epub 2018 Jun 13. PMID: 29742327.
                        </p>
                        
                    </li>
                    <li>
                        <p class="contrib-p">
                            Kakar-Bhanot R, Brahmbhatt K, Kumar V, Suryawanshi AR, Srivastava S, Chaudhari U, Sachdeva G. Plasma membrane proteome of adhesion-competent endometrial epithelial cells and its modulation by Rab11a. Mol Reprod Dev. 2020 Jan;87(1):17-29. doi: 10.1002/mrd.23292. Epub 2019 Nov 18. PMID: 31737970.

                        </p>
                        
                    </li>
                    <li>
                        <p class="contrib-p">
                            Tien WS, Chen PM, Chuang CY, Lui SM, Kuo HC, Chen YJ, Wu KP. Combining membrane proteomics and computational three-way pathway analysis revealed signalling pathways preferentially regulated in human iPSCs and human ESCs. Sci Rep. 2017 Nov 8;7(1):15055. doi: 10.1038/s41598-017-15347-z. PMID: 29118436; PMCID: PMC5678157.
                        </p>
                        
                    </li>

                    <li>
                        <p class="contrib-p">
                        Dormeyer W, van Hoof D, Braam SR, Heck AJ, Mummery CL, Krijgsveld J. Plasma membrane proteomics of human embryonic stem cells and human embryonal carcinoma cells. J Proteome Res. 2008 Jul;7(7):2936-51. doi: 10.1021/pr800056j. Epub 2008 May 20. PMID: 18489135.
                        </p>
                    </li>

                    <li>
                        <p class="contrib-p">
                            Lai X. Reproducible method to enrich membrane proteins with high purity and high yield for an LC-MS/MS approach in quantitative membrane proteomics. Electrophoresis. 2013 Mar;34(6):809-17. doi: 10.1002/elps.201200503. Epub 2013 Feb 25. PMID: 23334993; PMCID: PMC3749515.
                        </p>
                    </li>

                    <li>
                        <p class="contrib-p">
                            Ye X, Chan KC, Waters AM, Bess M, Harned A, Wei BR, Loncarek J, Luke BT, Orsburn BC, Hollinger BD, Stephens RM, Bagni R, Martinko A, Wells JA, Nissley DV, McCormick F, Whiteley G, Blonder J. Comparative proteomics of a model MCF10A-KRasG12V cell line reveals a distinct molecular signature of the KRasG12V cell surface. Oncotarget. 2016 Dec 27;7(52):86948-86971. doi: 10.18632/oncotarget.13566. PMID: 27894102; PMCID: PMC5341332
                        </p>
                    </li>
                    
                    <li>
                        <p class="contrib-p">
                            Van Hoof D, Dormeyer W, Braam SR, Passier R, Monshouwer-Kloots J, Ward-van Oostwaard D, Heck AJ, Krijgsveld J, Mummery CL. Identification of cell surface proteins for antibody-based selection of human embryonic stem cell-derived cardiomyocytes. J Proteome Res. 2010 Mar 5;9(3):1610-8. doi: 10.1021/pr901138a. PMID: 20088484.
                        </p>
                    </li>
                    
                    <li>
                        <p class="contrib-p">
                            Shekari F, Han CL, Lee J, Mirzaei M, Gupta V, Haynes PA, Lee B, Baharvand H, Chen YJ, Hosseini Salekdeh G. Surface markers of human embryonic stem cells: a meta analysis of membrane proteomics reports. Expert Rev Proteomics. 2018 Nov;15(11):911-922. doi: 10.1080/14789450.2018.1539669. Epub 2018 Oct 29. PMID: 30358457.
                        </p>
                    </li>
                    
                    <li>
                        <p class="contrib-p">
                            Uzzaman A, Shang Z, Qiao Z, Cao CX, Xiao H. Graphene and graphene oxide as a solid matrix for extraction of membrane and membrane-associated proteins. Mikrochim Acta. 2018 Jan 19;185(2):123. doi: 10.1007/s00604-017-2658-5. PMID: 29594406.        
                        </p>
                    </li>
                    
                    <li>
                        <p class="contrib-p">
                            Ziegler YS, Moresco JJ, Tu PG, Yates JR 3rd, Nardulli AM. Plasma membrane proteomics of human breast cancer cell lines identifies potential targets for breast cancer diagnosis and treatment. PLoS One. 2014 Jul 16;9(7):e102341. doi: 10.1371/journal.pone.0102341. PMID: 25029196; PMCID: PMC4100819.
                        </p>
                    </li>
                    
                    <li>
                        <p class="contrib-p">
                            Raimondo F, Corbetta S, Savoia A, Chinello C, Cazzaniga M, Rocco F, Bosari S, Grasso M, Bovo G, Magni F, Pitto M. Comparative membrane proteomics: a technical advancement in the search of renal cell carcinoma biomarkers. Mol Biosyst. 2015 Jun;11(6):1708-16. doi: 10.1039/c5mb00020c. PMID: 25926002.
                        </p>
                    </li>
                    
                    <li>
                        <p class="contrib-p">
                            Xie Z, Gunaratne J, Cheong LL, Liu SC, Koh TL, Huang G, Blackstock WP, Chng WJ. Plasma membrane proteomics identifies biomarkers associated with MMSET overexpression in T(4;14) multiple myeloma. Oncotarget. 2013 Jul;4(7):1008-18. doi: 10.18632/oncotarget.1049. PMID: 23900284; PMCID: PMC3759662.
                        </p>
                    </li>
                    
                    <li>
                        <p class="contrib-p">
                            McQuade LR, Schmidt U, Pascovici D, Stojanov T, Baker MS. Improved membrane proteomics coverage of human embryonic stem cells by peptide IPG-IEF. J Proteome Res. 2009 Dec;8(12):5642-9. doi: 10.1021/pr900597s. PMID: 19899800
                        </p>
                    </li>
                    
                    <li>
                        <p class="contrib-p">
                        Zhao M, Xu F, Wu F, Yu D, Su N, Zhang Y, Cheng L, Xu P. iTRAQ-Based Membrane Proteomics Reveals Plasma Membrane Proteins Change During HepaRG Cell Differentiation. J Proteome Res. 2016 Dec 2;15(12):4245-4257. doi: 10.1021/acs.jproteome.6b00305. Epub 2016 Nov 10. PMID: 27790907.
                        </p>
                    </li>
                    
                    <li>
                        <p class="contrib-p">
                            Hong WX, Huang A, Lin S, Yang X, Yang L, Zhou L, Huang H, Wu D, Huang X, Xu H, Liu J. Differential expression profile of membrane proteins in L-02 cells exposed to trichloroethylene. Toxicol Ind Health. 2016 Oct;32(10):1774-83. doi: 10.1177/0748233715588438. Epub 2015 Jun 4. PMID: 26045551.
                        </p>
                    </li>
                    
                    <li>
                        <p class="contrib-p">
                            Zhang Z, Zhang L, Hua Y, Jia X, Li J, Hu S, Peng X, Yang P, Sun M, Ma F, Cai Z. Comparative proteomic analysis of plasma membrane proteins between human osteosarcoma and normal osteoblastic cell lines. BMC Cancer. 2010 May 14;10:206. doi: 10.1186/1471-2407-10-206. PMID: 20470422; PMCID: PMC2880991.
                        </p>
                    </li>
                    
                    <li>
                        <p class="contrib-p">
                            Ravenhill BJ, Soday L, Houghton J, Antrobus R, Weekes MP. Comprehensive cell surface proteomics defines markers of classical, intermediate and non-classical monocytes. Sci Rep. 2020 Mar 12;10(1):4560. doi: 10.1038/s41598-020-61356-w. PMID: 32165698; PMCID: PMC7067879.
                        </p>
                    </li>
                    
                    <li>
                        <p class="contrib-p">
                            Yan M, Yang X, Wang L, Clark D, Zuo H, Ye D, Chen W, Zhang P. Plasma membrane proteomics of tumor spheres identify CD166 as a novel marker for cancer stem-like cells in head and neck squamous cell carcinoma. Mol Cell Proteomics. 2013 Nov;12(11):3271-84. doi: 10.1074/mcp.M112.025460. Epub 2013 Jul 31. PMID: 23903875; PMCID: PMC3820938.
                        </p>
                    </li>
                    
                    <li>
                        <p class="contrib-p">
                            Digomann D, Kurth I, Tyutyunnykova A, Chen O, Löck S, Gorodetska I, Peitzsch C, Skvortsova II, Negro G, Aschenbrenner B, Eisenhofer G, Richter S, Heiden S, Porrmann J, Klink B, Schwager C, Dowle AA, Hein L, Kunz-Schughart LA, Abdollahi A, Lohaus F, Krause M, Baumann M, Linge A, Dubrovska A. The CD98 Heavy Chain Is a Marker and Regulator of Head and Neck Squamous Cell Carcinoma Radiosensitivity. Clin Cancer Res. 2019 May 15;25(10):3152-3163. doi: 10.1158/1078-0432.CCR-18-2951. Epub 2019 Jan 22. PMID: 30670494.
                        
                        </p>
                    </li>
                    
                    <li>
                        <p class="contrib-p">
                            Li B, Chang J, Chu Y, Kang H, Yang J, Jiang J, Ma H. Membrane proteomic analysis comparing squamous cell lung cancer tissue and tumour-adjacent normal tissue. Cancer Lett. 2012 Jun 1;319(1):118-24. doi: 10.1016/j.canlet.2011.12.037. Epub 2012 Jan 15. PMID: 22252117.

                        </p>
                    </li>
                    
                    <li>
                        <p class="contrib-p">
                            Zhang Y, Gao Q, Duan S, He Y, Sun X, Jiang R, Duan Y, Zhong X, Ge J. Upregulation of Copine1 in trabecular meshwork cells of POAG patients: a membrane proteomics approach. Mol Vis. 2008 May 30;14:1028-36. PMID: 18523666; PMCID: PMC2408776.
                        </p>
                    </li>
                    
                    <li>
                        <p class="contrib-p">
                            Putri DU, Feng PH, Hsu YH, Lee KY, Jiang FW, Kuo LW, Chen YJ, Han CL. Chemotherapy Immunophenoprofiles in Non-Small-Cell Lung Cancer by Personalized Membrane Proteomics. Proteomics Clin Appl. 2018 Mar;12(2). doi: 10.1002/prca.201700040. Epub 2018 Jan 19. Erratum in: Proteomics Clin Appl. 2020 Mar;14(2):e1970064. PMID: 29278294.
                        </p>
                    </li>
                    
                    <li>
                        <p class="contrib-p">
                            Yokoyama T, Enomoto T, Serada S, Morimoto A, Matsuzaki S, Ueda Y, Yoshino K, Fujita M, Kyo S, Iwahori K, Fujimoto M, Kimura T, Naka T. Plasma membrane proteomics identifies bone marrow stromal antigen 2 as a potential therapeutic target in endometrial cancer. Int J Cancer. 2013 Jan 15;132(2):472-84. doi: 10.1002/ijc.27679. Epub 2012 Jul 9. PMID: 22729361.
                        </p>
                    </li>

                    <li>
                        <p class="contrib-p">
                            Zhang Y, Qi X, Zheng J, Luo Y, Zhao C, Hao J, Li X, Huang K, Xu W. Lipid Rafts Disruption Increases Ochratoxin A Cytotoxicity to Hepatocytes. J Biochem Mol Toxicol. 2016 Feb;30(2):71-9. doi: 10.1002/jbt.21738. Epub 2015 Aug 25. PMID: 26861962.
                        </p>
                    </li>

                    <li>
                        <p class="contrib-p">
                            Eriksson H, Lengqvist J, Hedlund J, Uhlén K, Orre LM, Bjellqvist B, Persson B, Lehtiö J, Jakobsson PJ. Quantitative membrane proteomics applying narrow range peptide isoelectric focusing for studies of small cell lung cancer resistance mechanisms. Proteomics. 2008 Aug;8(15):3008-18. doi: 10.1002/pmic.200800174. PMID: 18654985.
                        </p>
                    </li>

                    <li>
                        <p class="contrib-p">
                        Fang X, Zhao J, Zhang K, Yang P, Qiao L, Liu B. Polydopamine Grafted Porous Graphene as Biocompatible Nanoreactor for Efficient Identification of Membrane Proteins. ACS Appl Mater Interfaces. 2016 Mar;8(10):6363-70. doi: 10.1021/acsami.6b00407. Epub 2016 Mar 3. PMID: 26913964.
                        </p>
                    </li>
                    <li>
                        <p class="contrib-p">
             
                            Ye X, Johann DJ Jr, Hakami RM, Xiao Z, Meng Z, Ulrich RG, Issaq HJ, Veenstra TD, Blonder J. Optimization of protein solubilization for the analysis of the CD14 human monocyte membrane proteome using LC-MS/MS. J Proteomics. 2009 Nov 2;73(1):112-22. doi: 10.1016/j.jprot.2009.08.008. Epub 2009 Aug 24. PMID: 19709643; PMCID: PMC3159575.
                        </p>
                    </li>
                    <li>
                        <p class="contrib-p">
                            Bausch-Fluck D, Hofmann A, Bock T, Frei AP, Cerciello F, Jacobs A, Moest H, Omasits U, Gundry RL, Yoon C, Schiess R, Schmidt A, Mirkowska P, Härtlová A, Van Eyk JE, Bourquin JP, Aebersold R, Boheler KR, Zandstra P, Wollscheid B. A mass spectrometric-derived cell surface protein atlas. PLoS One. 2015 Apr 20;10(3):e0121314. doi: 10.1371/journal.pone.0121314. PMID: 25894527; PMCID: PMC4404347.
                        </p>
                    </li>
                    <li>
                        <p class="contrib-p">
                            Liu Y, Yan G, Gao M, Deng C, Zhang X. Membrane protein isolation and identification by covalent binding for proteome research. Proteomics. 2015 Nov;15(22):3892-900. doi: 10.1002/pmic.201400572. Epub 2015 Oct 23. PMID: 26376103.
                        </p>
                    </li>
                    <li>
                        <p class="contrib-p">
                            Ye X, Chan KC, Waters AM, Bess M, Harned A, Wei BR, Loncarek J, Luke BT, Orsburn BC, Hollinger BD, Stephens RM, Bagni R, Martinko A, Wells JA, Nissley DV, McCormick F, Whiteley G, Blonder J. Comparative proteomics of a model MCF10A-KRasG12V cell line reveals a distinct molecular signature of the KRasG12V cell surface. Oncotarget. 2016 Dec 27;7(52):86948-86971. doi: 10.18632/oncotarget.13566. PMID: 27894102; PMCID: PMC5341332.
                        </p>
                    </li>
                    <li>
                        <p class="contrib-p">
                        Peng L, Kapp EA, Fenyö D, Kwon MS, Jiang P, Wu S, Jiang Y, Aguilar MI, Ahmed N, Baker MS, Cai Z, Chen YJ, Van Chi P, Chung MC, He F, Len AC, Liao PC, Nakamura K, Ngai SM, Paik YK, Pan TL, Poon TC, Salekdeh GH, Simpson RJ, Sirdeshmukh R, Srisomsap C, Svasti J, Tyan YC, Dreyer FS, McLauchlan D, Rawson P, Jordan TW. The Asia Oceania Human Proteome Organisation Membrane Proteomics Initiative. Preparation and characterisation of the carbonate-washed membrane standard. Proteomics. 2010 Nov;10(22):4142-8. doi: 10.1002/pmic.201000126. PMID: 20486120; PMCID: PMC3891941.
                        </p>
                    </li>
                    <li>
                        <p class="contrib-p">
                            Smolders K, Lombaert N, Valkenborg D, Baggerman G, Arckens L. An effective plasma membrane proteomics approach for small tissue samples. Sci Rep. 2015 Jun 5;5:10917. doi: 10.1038/srep10917. PMID: 26047021; PMCID: PMC4456939.
                        </p>
                    </li>
                    <li>
                        <p class="contrib-p">
                            Wiśniewski JR, Zougman A, Mann M. Combination of FASP and StageTip-based fractionation allows in-depth analysis of the hippocampal membrane proteome. J Proteome Res. 2009 Dec;8(12):5674-8. doi: 10.1021/pr900748n. PMID: 19848406.
                        </p>
                    </li>
                    <li>
                        <p class="contrib-p">
                            Hung CL, Pan SH, Han CL, Chang CW, Hsu YL, Su CH, Shih SC, Lai YJ, Chiang Chiau JS, Yeh HI, Liu CY, Lee HC, Lam CSP. Membrane Proteomics of Impaired Energetics and Cytoskeletal Disorganization in Elderly Diet-Induced Diabetic Mice. J Proteome Res. 2017 Oct 6;16(10):3504-3513. doi: 10.1021/acs.jproteome.7b00148. Epub 2017 Sep 13. PMID: 28823169.
                        </p>
                    </li>
                    <li>
                        <p class="contrib-p">
                            Shui W, Sheu L, Liu J, Smart B, Petzold CJ, Hsieh TY, Pitcher A, Keasling JD, Bertozzi CR. Membrane proteomics of phagosomes suggests a connection to autophagy. Proc Natl Acad Sci U S A. 2008 Nov 4;105(44):16952-7. doi: 10.1073/pnas.0809218105. Epub 2008 Oct 29. PMID: 18971338; PMCID: PMC2579359.
                        </p>
                    </li>
                    <li>
                        <p class="contrib-p">
                            Peng L, Kapp EA, McLauchlan D, Jordan TW. Characterization of the Asia Oceania Human Proteome Organisation Membrane Proteomics Initiative Standard using SDS-PAGE shotgun proteomics. Proteomics. 2011 Nov;11(22):4376-84. doi: 10.1002/pmic.201100169. Epub 2011 Oct 4. PMID: 21887821.
                        </p>
                    </li>
                    <li>
                        <p class="contrib-p">
                            Seyfried NT, Huysentruyt LC, Atwood JA 3rd, Xia Q, Seyfried TN, Orlando R. Up-regulation of NG2 proteoglycan and interferon-induced transmembrane proteins 1 and 3 in mouse astrocytoma: a membrane proteomics approach. Cancer Lett. 2008 May 18;263(2):243-52. doi: 10.1016/j.canlet.2008.01.007. Epub 2008 Feb 20. PMID: 18281150; PMCID: PMC2726046.
                        </p>
                    </li>
                    <li>
                        <p class="contrib-p">
                            Loo CS, Chen CW, Wang PJ, Chen PY, Lin SY, Khoo KH, Fenton RA, Knepper MA, Yu MJ. Quantitative apical membrane proteomics reveals vasopressin-induced actin dynamics in collecting duct cells. Proc Natl Acad Sci U S A. 2013 Oct 15;110(42):17119-24. doi: 10.1073/pnas.1309219110. Epub 2013 Oct 1. PMID: 24085853; PMCID: PMC3800992.
                        </p>
                    </li>
                    <li>
                        <p class="contrib-p">
                            Shi P, Liao M, Chuang BC, Griffin R, Shi J, Hyer M, Fallon JK, Smith PC, Li C, Xia CQ. Efflux transporter breast cancer resistance protein dominantly expresses on the membrane of red blood cells, hinders partitioning of its substrates into the cells, and alters drug-drug interaction profiles. Xenobiotica. 2018 Nov;48(11):1173-1183. doi: 10.1080/00498254.2017.1397812. Epub 2017 Nov 16. PMID: 29098941.
                        </p>
                    </li>
                    <li>
                        <p class="contrib-p">
                            Lin Y, Huo L, Liu Z, Li J, Liu Y, He Q, Wang X, Liang S. Sodium laurate, a novel protease- and mass spectrometry-compatible detergent for mass spectrometry-based membrane proteomics. PLoS One. 2013;8(3):e59779. doi: 10.1371/journal.pone.0059779. Epub 2013 Mar 28. PMID: 23555778; PMCID: PMC3610932.
                        </p>
                    </li>
                    <li>
                        <p class="contrib-p">
                            Lin Y, Wang K, Yan Y, Lin H, Peng B, Liu Z. Evaluation of the combinative application of SDS and sodium deoxycholate to the LC-MS-based shotgun analysis of membrane proteomes. J Sep Sci. 2013 Sep;36(18):3026-34. doi: 10.1002/jssc.201300413. Epub 2013 Aug 2. PMID: 23832743.
                        </p>
                    </li>
     
                </ol>
            </div>
        </div>
    </div>
</div>






{% endblock %}